.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
    padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 30px;
	margin-top: -17px;
	color: inherit;
	background-color: #eee;
}
.oop{
	text-align: center;
}