.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.userName{
	margin-top: -15px;
	margin-left: 33px;
}
.viewUser{
	margin-top: -138px;
	margin-left: 120px;
}
.avatar_home{
	margin-left: 10px;
}
.avatar_menu{
	margin-left: 65px;
	margin-top: -30px;
}
.avatar_search{
	margin-top: -37px;
	margin-left: 70px;
}